# This starter workflow is for a CMake project running on a single platform. There is a different starter workflow if you need cross-platform coverage.
# See: https://github.com/actions/starter-workflows/blob/main/ci/cmake-multi-platform.yml
name: Run Tests on Pull Request

on:
  pull_request:
    types: [opened, synchronize, reopened]
env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Release

jobs:
  # Build the MemoryAllocator Project
  Build: 
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Create build directory
      run: mkdir -p ${{github.workspace}}/build

    - name: Configure CMake
      run: cmake -S ${{github.workspace}}/MemoryAllocator -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}}

    - name: Build project
      run: cmake --build ${{github.workspace}}/build --config ${{env.BUILD_TYPE}}

    - name: Upload build artifacts
      uses: actions/upload-artifact@v4
      with:
        name: build-output
        path: ${{github.workspace}}/build

  # Run the unit tests via ctest and valgrind
  Test:
    runs-on: ubuntu-latest
    needs: Build
    steps:
    - uses: actions/checkout@v4

    - name: Download build artifacts
      uses: actions/download-artifact@v4
      with:
        name: build-output
        path: ${{github.workspace}}/build
      # Set execution perms
      run:
        chmod +x ${{github.workspace}}/build/allocatortest

    - name: Run Gtests
      working-directory: ${{github.workspace}}/build
      run: ctest --output-on-failure # Dont want to run the length valgrind if there is an inherent error with the logic in the code
    
    - name: Install Valgrind
      run: sudo apt-get update && sudo apt-get install -y valgrind

    - name: Run Gtests via Valgrind
      working-directory: ${{github.workspace}}/build
      run: valgrind --leak-check=full --show-leak-kinds=all --error-exitcode=1 ./allocatortest 

  # Generate .deb package
  GenPackage:
    runs-on: ubuntu-latest
    needs: Build
    steps:
    - uses: actions/checkout@v4

    - name: Download build artifacts
      uses: actions/download-artifact@v4
      with:
        name: build-output
        path: ${{github.workspace}}/build

    - name: Create .deb package
      working-directory: ${{github.workspace}}/build
      run: cpack -G DEB

    - name: Upload .deb package
      uses: actions/upload-artifact@v4
      with:
        name: MemoryAllocatorDEB
        path: ${{ github.workspace }}/build/memoryallocator-*.deb

  runDebPackage:
    runs-on: ubuntu-latest
    needs: GenPackage
    steps:
    - uses: actions/checkout@v4

    - name: Download build artifacts
      uses: actions/download-artifact@v4
      with:
        name: MemoryAllocatorDEB
        path: ${{ github.workspace }}/build/memoryallocator-*.deb

    - name: Install .deb package
      run:
        sudo apt install .${{github.workspace}}/memoryallocator-*
      
    - name: Verify installtion
      run:
        dpkg -l | grep memoryallocator

    # The test app has been made but wont be implemented here just yet
    #- name: Run .dep package
    #  run:
    #    ./Runner

