# This starter workflow is for a CMake project running on a single platform. There is a different starter workflow if you need cross-platform coverage.
# See: https://github.com/actions/starter-workflows/blob/main/ci/cmake-multi-platform.yml
name: Run Tests on Pull Request

on:
  pull_request:
    types: [opened, synchronize, reopened]
env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Release

jobs:
  build:
    # The CMake configure and build commands are platform agnostic and should work equally well on Windows or Mac.
    # You can convert this to a matrix build if you need cross-platform coverage.
    # See: https://docs.github.com/en/free-pro-team@latest/actions/learn-github-actions/managing-complex-workflows#using-a-build-matrix
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Create build directory
      run: mkdir -p ${{github.workspace}}/build

    - name: Configure CMake
      run: cmake -S ${{github.workspace}}/MemoryAllocator -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=Release

    - name: Build project
      run: cmake --build ${{github.workspace}}/build --config ${{env.BUILD_TYPE}}

    - name: Run Gtests
      working-directory: ${{github.workspace}}/build
      run: ctest --output-on-failure # Dont want to run the length valgrind if there is an inherent error with the logic in the code
    
    - name: Install Valgrind
      run: sudo apt-get update && sudo apt-get install -y valgrind gcc

    - name: Run Gtests via Valgrind
      working-directory: ${{github.workspace}}/build
      run: 
        valgrind ./allocatortest

